.auth__welcome {
  max-width: 627px;
  width: 100%;
  display: flex;
  position: relative;
}

.auth__content--register {
  margin: 132px 0 0 50px;
}

.auth__content--login {
  margin: 132px 50px 0 auto;
  text-align: end;
}

.auth__content--forgot-password {
  max-width: 532px;
  width: 100%;
  margin: 146px 40px 0 auto;
}

.auth__content--reset-password {
  max-width: 543px;
  width: 100%;
  margin: 146px 40px 0 auto;
}

.auth__content--reset-password-done {
  text-align: center;
  margin-top: 143px;
}

.auth__media {
  position: absolute;
  top: 201px;
}

.auth__media--login {
  left: 79px;
}

.auth__media--register {
  right: 79px;
}
