.admin-panel-low-stock {
  background: var(--white);
  border-radius: 18px;
  box-shadow: 0 0 6.9px 0 rgba(235, 0, 27, 0.37);
  padding: 20px 16px;
}

.admin-panel-low-stock__title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.admin-panel-low-stock__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.admin-panel-low-stock__item {
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0 0 6.9px 0 rgba(255, 146, 138, 0.4);
  padding: 4px;
}

.admin-panel-low-stock__item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}
