.user-profile__settings-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-profile__settings-text-input {
  border: var(--field-border);
  border-radius: 8px;
  box-shadow: var(--field-shadow);
  padding: 13px 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 64px;
}
