.about-metrics {
  background: var(--dark-hero-background-no-gradient);
  padding: 59px 0 56px 0;
  position: relative;
}

.about-metrics::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: 40%;
  top: 40%;
  border-radius: 381px;
  background: var(--blue-opacity-45);
  filter: blur(140px);
}

.about-metrics__panel {
  border-radius: 30px;
  background: var(--about-metrics-background);
  padding: 60px 14.5px;
}

.about-metrics__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 28px;
}

.about-metrics__item {
  text-align: center;
}

.about-metrics__label-wrap {
  margin-top: 8px;
}

.about-metrics__caption-wrap {
  margin-top: 6px;
}
