/*Header Ordering Steps=====================================================*/

.steps {
    margin-top: 20px;
    width: 100%;
}

.steps__box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart__page {
    width: 152px;
    height: 26px;
}

.shipping__Page {
    width: 251px;
    height: 26px;
}

.payment__Page {
    width: 192px;
    height: 26px;
}

.MuiBox-root .step__number {
    border: 1px solid #7777bf;
    border-radius: 50px;
    padding: 2px 9px;
    width: 27px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.MuiBox-root .step__active {
    background: #7777bf;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.MuiBox-root .step__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}