/*Header Ordering Steps=====================================================*/

.ordering_steps__container {
    margin-top: 20px;
    width: 100%;
}

.ordering_steps__box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart_page {
    width: 152px;
    height: 26px;
}

.shipping_Page {
    width: 251px;
    height: 26px;
}

.payment_Page {
    width: 192px;
    height: 26px;
}

.MuiBox-root .step-number {
    border: 1px solid #7777bf;
    border-radius: 50px;
    padding: 2px 9px;
    width: 27px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.MuiBox-root .step-active {
    background: #7777bf;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.MuiBox-root .step-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}