.ui-search {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.ui-search input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  background: transparent;
  color: var(--black);
  font-weight: 300;
}

.ui-search input::placeholder {
  color: var(--black);
}
