.product-info {
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-width: 536px;
}

.product-info__specs {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.product-info__description-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--blue-violet);
}

.product-info__actions {
  width: 100%;
  display: flex;
  gap: 16px;
}

.product-info__meta {
  display: flex;
  width: 100%;
  gap: 32px;
}
