.sale-banner {
  width: 100%;
  background: var(--light-gray);
  padding: 96px 423px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-banner__content {
  display: flex;
  flex-direction: column;
  width: 594px;
  max-height: 209px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.sale-banner__title-row {
  display: flex;
  gap: 20px;
}

.sale-banner__icon-wrap {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-banner__icon {
  fill: var(--icon-fire);
}
