.user-profile__settings-card {
  background: var(--white);
  border-radius: 25px;
  box-shadow: var(--field-shadow);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-profile__settings-card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile__settings-icon {
  width: 52px;
  height: 50px;
  border-radius: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--light-violet);
  box-shadow: var(--field-shadow);
}

.user-profile__settings-icon svg {
  filter: brightness(0) invert(1);
}

.user-profile__settings-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
