.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  gap: 93px;
}

.navigation {
  display: flex;
  gap: 28px;
  align-items: center;
}

.navigation__item {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.header__icons {
  display: flex;
  gap: 21px;
}

.header__icon {
  width: 32px;
  height: 32px;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__auth-button {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--black);
  border-radius: 39px;
}

.header__auth-button:first-child {
  padding: 10px 30px;
}

.header__auth-button:last-child {
  padding: 10px 16px;
}

.header__auth-button.active,
.header__auth-button:hover {
  transition: all 0.5s ease-in-out;
  background-color: var(--blue-violet);
  color: var(--white);
}
