.product-spec-item {
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  min-height: 84px;
  background: var(--product-specs-background);
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-spec-item__icon {
  width: 24px;
  height: 24px;
}

.product-spec-item__icon-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-spec-item__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.product-spec-item__value {
  white-space: pre-line;
  overflow-wrap: anywhere;
}
