.user-profile__settings-input-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px 14px;
}

@media (max-width: 1199px) {
  .user-profile__settings-input-grid {
    grid-template-columns: 1fr;
  }
}
