/*Header BreadCrumbs=====================================================*/

.breadcrumbs__container {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

.breadcrumbs__box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.breadcrumbs__home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-family: 'Montserrat',
        sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #000;
}

.breadcrumbs__home img {
    width: 12px;
    height: 12px;
}

.breadcrumbs__link {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #000;
}

.breadcrumbs__product {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #000;
}