.login {
  max-width: 549px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 57px;
}

.login__form {
  margin-top: 35px;
}

.login__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
