.admin-panel {
  padding: 24px 0 56px;
}

.admin-panel__layout {
  display: grid;
  grid-template-columns: 326px minmax(0, 1fr);
  gap: 21px;
}

.admin-panel__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-panel__toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  min-height: 32px;
}

.admin-panel__hero {
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 6.9px 0 var(--blue-violet);
  padding: 18px 25px;
}
