:root {
  --black-opacity-25: rgba(0, 0, 0, 0.25);
  --black-opacity-12: rgba(60, 64, 67, 0.12);
  --black-opacity-13: rgba(0, 0, 0, 0.13);
  --black-opacity-65: rgba(0, 0, 0, 0.65);
  --white-opacity-4: rgba(255, 255, 255, 0.4);
  --white-opacity-10: rgba(255, 255, 255, 0.1);
  --gray-opacity-13: rgba(151, 151, 151, 0.13);
  --amber-opacity-89: rgba(251, 188, 4, 0.89);

  --blue-opacity-30: rgba(119, 119, 191, 0.3);
  --blue-opacity-40: rgba(119, 119, 191, 0.4);
  --blue-opacity-45: rgba(119, 119, 191, 0.45);
  --blue-opacity-50: rgba(119, 119, 191, 0.5);

  --white: #ffffff;
  --ghost-white: #fdfdff;
  --light-gray: #c9c9c9;
  --black: #000000;
  --blue-violet: #7777bf;
  --dark-yellow: #eaa60f;
  --light-yellow: #ffe67d;
  --amber: #fdc10d;
  --chateau-green: #34a853;
  --lime-green: #3fd244;
  --light-green: #ecfff1;
  --red: #eb001b;
  --coralRed: #ea4335;
  --blue: #4285f4;
  --navy-blue: #001a4f;
  --dark-background: rgba(4, 4, 255, 0.05);
  --dark-hero-background: linear-gradient(91deg, #211c24 0.64%, #211c24 101%);
  --dark-hero-background-no-gradient: #211c24;
  --about-metrics-background: rgba(51, 64, 91, 0.2);
  --icon-fire: #ff5f00;
  --product-description-color: #353232;
  --product-top-icon-text: #4e4e4e;
  --product-bottom-icon-text: #717171;
  --product-specs-background: #f2f2fe;
  --box-summary-background: rgba(249, 249, 249, 0.2);
  --inputs-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  --light-violet: #9595ef;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
