:root {
  --white: #ffffff;
  --ghost-white: #fdfdff;
  --light-gray: #c9c9c9;
  --black: #000000;
  --blue-violet: #7777bf;
  --dark-yellow: #eaa60f;
  --light-yellow: #ffe67d;
  --amber: #fdc10d;
  --chateau-green: #34a853;
  --lime-green: #3fd244;
  --light-green: #ecfff1;
  --red: #eb001b;
  --coralRed: #ea4335;
  --blue: #4285f4;
  --navy-blue: #001a4f;
  --dark-background: rgba(4, 4, 255, 0.05);
  --dark-button-background: linear-gradient(91deg, #211c24 0.64%, #211c24 101%);
  --icon-fire: #ff5f00;
  --product-description-color: #353232;
  --product-top-icon-text: #4E4E4E;
  --product-bottom-icon-text: #717171;
  --product-specs-background: #F2F2FE;
  --box-summary-background: rgba(249, 249, 249, 0.2);
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}
